# Docker Compose files use these variables.
# todo @AlternateIf set URL for the env
# You can find documentation for all the supported and relevant env variables at INSERT URL HERE

# Postgres / DB Variables
# make sure to change the user and password if your instance is publicly exposed
POSTGRES_USER=audiomuse
POSTGRES_PASSWORD=audiomusepassword
POSTGRES_DB=audiomusedb
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# Redis Variables
# make sure the port matches the docker compose file
REDIS_URL=redis://redis:6379/0

# Jellyfin Variables [NOT REQUIRED if you are using a mediaserver other than Jellyfin]
JELLYFIN_USER_ID=YOUR_JELLYFIN_USER_ID
JELLYFIN_TOKEN=YOUR_JELLYFIN_API_TOKEN
JELLYFIN_URL=http://jellyfin.example.com:8096

# AI Variables [NOT Required if you are not using AI Models to name your playlists etc.]
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY
OLLAMA_SERVER_URL=YOUR_OLLAMA_SERVER_URL

# Emby Variables [NOT REQUIRED if you are using a mediaserver other than Emby]
EMBY_USER_ID=YOUR_EMBY_USER_ID
EMBY_TOKEN=YOUR_EMBY_API_TOKEN
EMBY_URL=http://emby.example.com:8096

# Navidrome [NOT REQUIRED if you are using a mediaserver other than Navidrome]
NAVIDROME_URL=http://navidrome.example.com:8096
NAVIDROME_USER=YOUR_NAVIDROME_USER
NAVIDROME_PASSWORD=YOUR_NAVIDROME_PASSWORD

# Lyrion [NOT REQUIRED if you are using a mediaserver other than Lyrion]
LYRION_URL=http://lyrion.example.com

# Remote worker Variables [Not Required for the All-In-One Solution / Basic Setup]
WORKER_URL=http://worker.example.com:8029/worker
WORKER_POSTGRES_HOST=server.example.com
WORKER_REDIS_URL=redis://server.example.com:6379/0
